body{
    display: block;
    margin: 0px;
}

.title{
    background: #959595;
    width: 100%;
    height: 410px;
    background-size: 100%;
}

.site{
    color: rgb(190, 8, 8);
}

title h1{
    margin-block-start: 0em;
    margin-block-end: 0em;

}

.GAMES{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background: rgb(74, 74, 74);
}

.GVC{
    margin: 50px;
}

.GVC_img{
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    background-image: url("../img/GVC.png");
}

.GVC a{
    font-weight: 400;
    width: 200px;
    height: 200px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.GVC button{
    cursor: pointer;
    background: green;
    width: 95px;
    height: 45px;  
    transition: transform 2s; 
}

.GSA{
    margin: 50px;
}

.GSA_img{
    background-size: contain;
    width: 200px;
    height: 200px;
    background-image: url("../img/GSA.png");
}

.GSA a{
    font-weight: 400;
    width: 200px;
    height: 200px;
    text-decoration: none;
    color: rgb(0, 0, 0);  
} 

.GSA button{
    cursor: pointer;
    background: green;
    width: 95px;
    height: 45px;
    
}

.l4d2{
    margin: 50px;
}

.l4d2_img{
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    height: 200px;
    background-image: url("../img/l4d2.png");
}

.l4d2 a{
    font-weight: 400;
    width: 200px;
    height: 200px;
    text-decoration: none;
    color: rgb(0, 0, 0);  
} 

.l4d2 button{
    cursor: pointer;
    background: green;
    width: 95px;
    height: 45px;
    
}

.body2{
    background-color: rgb(98, 98, 98);
    display: block;
    margin: 0px;
}

.body2 a{
    text-decoration: none;
    color: black;
}

.body2 button{
    background-color: green;
}